@import url(https://fonts.googleapis.com/css?family=Droid+Serif);
/* Above line is to import google font style */
.content{
width:960px;
margin:20px auto;
}
.main{
/*float:left;*/
margin-top:80px;
}
#progressbar{
margin:0;
padding:0;
font-size:18px;
}
.active{
color:red;
}
fieldset{
display:none;
/*width: 450px;*/
width: 60%;
padding:20px;
/*margin-top:50px;
margin-left: 85px;*/
border-radius:5px;
box-shadow: none;
margin: 50px auto !important;
float: none;
}
#first{
display:block;
/*width: 450px;*/
width: 60%;
padding:20px;
/*margin-top:50px;
margin-left: 85px;*/
margin: 50px auto;
border-radius:5px;
box-shadow:none;
}
input[type=text],
input[type=date],
input[type=email],
input[type=password],
select{
width:100%;
margin:10px 0;
height:40px;
padding:5px;
/*border: 3px solid rgb(236, 176, 220);*/
border: 2px solid #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    background: #fff;
    box-sizing: border-box;
}
input[type=text]:focus,
input[type=date]:focus,
input[type=email]:focus,
input[type=password]:focus,
select:focus{
    border: 2px solid #3498db;
    color: #3498db;
    background: #fff;
}
/*.input_design{
    border: 2px solid #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    background: #fff;
}
.input_design:focus{
    border: 2px solid #3498db;
    color: #3498db;
    background: #fff;
}*/
textarea{
width:100%;
margin:10px 0;
height:70px;
padding:5px;
border: 3px solid rgb(236, 176, 220);
border-radius: 4px;
}
input[type=submit],
input[type=button]{
/*width: 120px;
margin:15px 25px;
padding: 5px;
height: 40px;
background-color: sienna;
border: none;
border-radius: 4px;
color: white;*/
font-family: 'Droid Serif', serif;
    border-color: rgba(30, 37, 43, 0.15);
    border-top-color: rgba(30, 37, 43, 0.15);
    border-right-color: rgba(30, 37, 43, 0.15);
    border-bottom-color: rgba(30, 37, 43, 0.15);
    border-left-color: rgba(30, 37, 43, 0.15);
border-radius: 4px;
border-style: solid;
border-width: 2px;
box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.24);
box-sizing: inherit;
color: #fff;
cursor: pointer;
display: block;
float: left;
width: 25%;
background-color: #95d600;
font-size: 18px;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
transition: all 0.3s;
margin-top: 20px;
font-weight: 700;
padding: 5px 8px;
position: relative;
text-align: center;
}
}
h2,p{
text-align:center;
font-family: 'Droid Serif', serif;
}
li{
margin-right:52px;
/*display:inline;*/
color:#c1c5cc;
font-family: 'Droid Serif', serif;
}

/**/
#feedback-page {
    text-align: center;
}
#form-main {
    width: 100%;
}
#form-div {
    width: 450px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    background-color: #f9f9f9;
    margin: 0 auto;
}
.feedback-input {
    color: #1e252b;
    font-size: 15px;
    line-height: 22px;
    background-color: #fff;
    padding: 8px 8px 8px 54px;
    margin-bottom: 26px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid rgba(30, 37, 43, 0.15);
    border-radius: 4px;
    font-weight:300;
}
textarea {
    padding: 2px !important;
    width: 90% !important;
}
.feedback-input:focus {
    background: #fff;
    box-shadow: 0;
    border: 2px solid #3498db;
    color: #3498db;
    outline: none;
    padding: 8px 8px 8px 54px;
}
.focused {
    color: #30aed6;
    border: #30aed6 solid 3px;
}
/* Icons ---------------------------------- */

#name {
    background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
    background-size: 30px 30px;
    background-position: 8px 5px;
    background-repeat: no-repeat;
}
#name:focus {
    background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
    background-size: 30px 30px;
    background-position: 8px 5px;
    background-repeat: no-repeat;
}
#postcode {
    background-image: url(../img/login/postcode.png);
    background-size: 30px 30px;
    background-position: 8px 5px;
    background-repeat: no-repeat;
    width: 48%;
    margin-right: 2%
}
#postcode {
    background-image: url(../img/login/postcode.png);
    background-size: 30px 30px;
    background-position: 8px 5px;
    background-repeat: no-repeat;
}
#natinsurance {
    background-image: url(../img/login/natinsurance.png);
    background-size: 40px 40px;
    background-position: 8px 5px;
    background-repeat: no-repeat;
    width: 48%;
    margin-right: 2%
}
#natinsurance {
    background-image: url(../img/login/natinsurance.png);
    background-size: 30px 30px;
    background-position: 8px 5px;
    background-repeat: no-repeat;
}
.mobile {
    background-image: url(../img/login/mobile.png);
    background-size: 30px 30px;
    background-position: 8px 5px;
    background-repeat: no-repeat;
    width: 48%;
    margin-right: 2%;
    margin-bottom:15px;
    display:inline-block;
}
#mobile {
    background-image: url(../img/login/mobile.png);
    background-size: 30px 30px;
    background-position: 8px 5px;
    background-repeat: no-repeat;
}
#occupation {
    background-image: url(../img/login/occupation.png);
    background-size: 32px 32px;
    background-position: 8px 5px;
    background-repeat: no-repeat;
    margin-right: 2%
}
#occupation {
    background-image: url(../img/login/occupation.png);
    background-size: 32px 32px;
    background-position: 8px 5px;
    background-repeat: no-repeat;
}
#company {
    background-image: url(../img/login/company.png);
    background-size: 30px 30px;
    background-position: 8px 5px;
    background-repeat: no-repeat;
    margin-right: 2%
}
#company {
    background-image: url(../img/login/company.png);
    background-size: 34px 34px;
    background-position: 8px 5px;
    background-repeat: no-repeat;
}

#Address {
    background-image: url(../img/login/address.png);
    background-size: 34px 34px;
    background-position: 8px 5px;
    background-repeat: no-repeat;
    margin-right: 2%;
}
#address {
    background-image: url(../img/login/address.png);
    background-size: 30px 30px;
    background-position: 8px 5px;
    background-repeat: no-repeat;
}
#licenceNumber {
    background-image: url(../img/login/drivinglicence.png);
    background-size: 34px 34px;
    background-position: 8px 5px;
    background-repeat: no-repeat;
    margin-right: 2%
}
#licenceNumber {
    background-image: url(../img/login/drivinglicence.png);
    background-size: 30px 30px;
    background-position: 8px 5px;
    background-repeat: no-repeat;
}
#licenceauthority {
    background-image: url(../img/login/authority.png);
    background-size: 34px 34px;
    background-position: 8px 5px;
    background-repeat: no-repeat;
    margin-right: 2%
}
#licenceauthority {
    background-image: url(../img/login/authority.png);
    background-size: 30px 30px;
    background-position: 8px 5px;
    background-repeat: no-repeat;
}
#currentvalue {
    background-image: url(../img/login/authority.png);
    background-size: 34px 34px;
    background-position: 8px 5px;
    background-repeat: no-repeat;
    margin-right: 2%
}
#currentvalue {
    background-image: url(../img/login/value.png);
    background-size: 30px 30px;
    background-position: 8px 5px;
    background-repeat: no-repeat;
}
#carreg {
    background-image: url(../img/login/drivinglicence.png);
    background-size: 34px 34px;
    background-position: 8px 5px;
    background-repeat: no-repeat;
    margin-right: 2%;
    width: 48%;
}
#carreg {
    background-image: url(../img/login/drivinglicence.png);
    background-size: 30px 30px;
    background-position: 8px 5px;
    background-repeat: no-repeat;
}
#model {
    background-image: url(../img/login/model.png);
    background-size: 34px 34px;
    background-position: 8px 5px;
    background-repeat: no-repeat;
    margin-right: 2%
}
#model {
    background-image: url(../img/login/model.png);
    background-size: 30px 30px;
    background-position: 8px 5px;
    background-repeat: no-repeat;
}
.nationalInsurance {
    background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
    background-size: 30px 30px;
    background-position: 8px 5px;
    background-repeat: no-repeat;
    width: 48%;
    margin-right: 2%;
    margin-bottom:15px;
   display:inline-block;
   float:left
}

#email {
    background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
    background-size: 30px 30px;
    background-position: 8px 5px;
    background-repeat: no-repeat;
    width: 48%;
}
#email:focus {
    background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
    background-size: 30px 30px;
    background-position: 8px 5px;
    background-repeat: no-repeat;
}
#comment {
    background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
    background-size: 30px 30px;
    background-position: 8px 5px;
    background-repeat: no-repeat;
}
#textbox {
    width: 100%;
}
#textbox:focus {
    width: 100%;
}
/*input:hover,*/
input:focus {
    background-color: white;
}
#button-blue {
    border-color: rgba(30, 37, 43, 0.15);
    border-radius: 4px;
    border-style: solid;
    border-width: 2px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.24);
    box-sizing: inherit;
    color: #fff;
    cursor: pointer;
    display: block;
    float: left;
    width: 25%;
    background-color: #95d600;
    font-size: 18px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
    padding: 5px 8px;
    position: relative;
    text-align: center;
}
#button-blue:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
    /* For IE8 and earlier */
    
    color: #fff;
}
.submit:hover {
    color: #3498db;
}
.ease {
    width: 0px;
    height: 74px;
    background-color: #fbfbfb;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    -ms-transition: .3s ease;
    transition: .3s ease;
}
.submit:hover .ease {
    width: 100%;
    background-color: #f9f9f9;
}
@media only screen and (max-width: 580px) {
    #form-div {
        left: 3%;
        margin-right: 3%;
        width: 88%;
        margin-left: 0;
        padding-left: 3%;
        padding-right: 3%;
    }
}
label {
    width: 150px;
    border-radius: 3px;
    border: 1px solid #D1D3D4;
}
/* hide input */

input.radio:empty {
    margin-left: -999px;
}
/* style label */

input.radio:empty ~ label {
    position: relative;
    float: left;
    line-height: 2.5em;
    text-indent: 3.25em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
input.radio:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 2.5em;
    background: #fff;
    border-radius: 3px 0 0 3px;
    border: 2px solid rgba(30, 37, 43, 0.15);
    border-radius: 4px;
    box-sizing: border-box;
}
/* toggle hover */

input.radio:hover:not(:checked) ~ label:before {
    content: '\2714';
    text-indent: .9em;
    color: #C2C2C2;
}
input.radio:hover:not(:checked) ~ label {
    color: #888;
}
/* toggle on */

input.radio:checked ~ label:before {
    content: '\2714';
    text-indent: .9em;
    color: #9CE2AE;
    background-color: #4DCB6D;
}
input.radio:checked ~ label {
    color: #777;
}
/* radio focus */

input.radio:focus ~ label:before {
    box-shadow: 0 0 0 3px #999;
}
.licenceType {
    height: 100px;
}
.licenceType span {
    width: 48%;
    display: block;
    float: left;
}
.question {
    /*width: 79%;*/
    width: 69%;
    display: block;
    float: left;
    height: 100%;
   padding-right:7%
}

.licenceQuestion {
position:relative;
left:2%;
margin-top:2%;
height:110px;
}

.licenceQuestion span label {
    width: 90px;
}
.cover .question {
    width: 50%;
}
.cover {
    height: 90px;
}
.carSpecContainer {
    width: 33%;
    float: left;
}
/******************************************************************************************/
/* HTML5 Reset
/******************************************************************************************/

body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    border: 0;
    margin: 0;
    padding: 0;
}
/******************************************************************************************/
/* Consistency Fixes
/******************************************************************************************/

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
audio,
canvas,
video {
    display: block;
}
html {
    height: 100%;
    background: #333;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: #eff8f7;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
b,
strong {
    font-weight: bold;
}
abbr[title] {
    border-bottom: 1px dotted;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a img,
img {
    -ms-interpolation-mode: bicubic;
    border: 0;
}
::-webkit-input-placeholder {
    color: #1e252b;
}
:-moz-placeholder {
    color: #1e252b;
}
::-moz-placeholder {
    color: #1e252b;
}
:-ms-input-placeholder {
    color: #1e252b;
}
:focus::-webkit-input-placeholder {
    color: transparent;
}
:focus:-moz-placeholder {
    color: transparent;
}
:focus::-moz-placeholder {
    color: transparent;
}
:focus:-ms-input-placeholder {
    color: transparent;
}
input,
textarea,
button {
    margin: 0;
    font-size: 100%;
    line-height: normal;
    vertical-align: baseline;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}
input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
input[type="search"] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
textarea {
    overflow: auto;
}
embed,
object,
video {
    max-width: 100%;
}
img {
    max-width: 100%;
    height: auto;
}
.ie8 img {
    width: auto;
}
img::selection,
img::-moz-selection,
::selection,
::-moz-selection {
    color: #fff;
    background: #559808;
}
body {
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    padding: .01px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.select .active-option {
    background: #333e48;
    color: #fff;
    -webkit-transition: all 0.3s 0s ease-in-out;
    -moz-transition: all 0.3s 0s ease-in-out;
    -ms-transition: all 0.3s 0s ease-in-out;
    -o-transition: all 0.3s 0s ease-in-out;
    transition: all 0.3s 0s ease-in-out;
    cursor: pointer;
}
.select .active-option:before {
    content: "";
    width: 0;
    height: 0;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    border-top: 6px solid #fff;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -5px;
}
.select .active-option:hover {
    background: #434343;
}
.select .option-list {
    color: #fff;
}
.select .option-list li {
    background: #ABABAD;
    margin-top: 2px;
}
.select .option-list li:hover {
    background: #979799;
}
.active-option {
    padding: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
}
.option-list {
    width: 100%;
    position: absolute;
    visibility: hidden;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    top: 90%;
    opacity: 0;
    filter: alpha(opacity=0);
}
.option-list li {
    width: 100%;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}
.option-list.show {
    -webkit-transition: all 0.3s 0s ease-in-out;
    -moz-transition: all 0.3s 0s ease-in-out;
    -ms-transition: all 0.3s 0s ease-in-out;
    -o-transition: all 0.3s 0s ease-in-out;
    transition: all 0.3s 0s ease-in-out;
    top: 100%;
    opacity: 1;
    filter: alpha(opacity=100);
    visibility: visible;
}
.carSpecContainer {
    width: 20%;
    margin-left: 10px;
}
.carRequired {
    width: 50%;
}
.select-date {
    width: 22%;
    float: left;
    margin-left: 3%;
}
.label {
    font-weight: 400;
   font-size:0.9em;

}
.select-time {

    float: left;

}
label {
    margin-bottom: 12px;
}
.licenceType {
    margin-bottom: 24px;
    margin-top: 24px;
}
button {
    background-color: #95d600;
    border-color: rgba(30, 37, 43, 0.15);
    border-radius: 4px;
    border-style: solid;
    border-width: 2px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.24);
    box-sizing: inherit;
    color: #fff;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 18px;
    font-weight: 700;
    margin-top: -4px;
    padding: 7px 12px;
    position: relative;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 33%;
}
button:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
    /* For IE8 and earlier */
    
    color: #fff;
}
.container-progress {
display:inline-block;
width:100%;
margin-bottom:15px
}
.progressbar {
    margin: 0;
    padding: 0;
    counter-reset: step;
}
.progressbar li {
    list-style-type: none;
    width: 25%;
    float: left;
    font-size: 18px;
    position: relative;
    text-align: center;
    color: #7d7d7d;
    word-break: break-all;
}
.progressbar li:before {
    width: 50px;
    height: 50px;
    font-size:30px;
    content: counter(step);
    counter-increment: step;
    line-height: 50px;
    border: 2px solid rgba(30, 37, 43, 0.15);
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: #6b478e;
    color:white
}

.progressbar li.active:before {
     
    background-color: white;
    color:#777777;
}



.progressbar li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #7d7d7d;
    top: 15px;
    left: -70%;
    z-index: -1;
}
.progressbar li:first-child:after {
    content: none;
}
.progressbar li.active {
    color: #95d600;
   
}
.progressbar li.active:before {
    border-color: #95d600;
}
.progressbar li.active + li:after {
    background-color: #95d600;
}

.select-date select {padding: 7px 10px 7px 12px;width:100px}

 .dob {width:23%;float:left;}

@media screen and (max-width: 480px)  {

#form-div {
    width: 100%; 
}
.select-date{
margin-left:-6px;
width:23%;
}

.licenceQuestion {
width:100%;

}

.question{width:71%}

.nationalInsurance {width:80%}
.mobile {width:80%}
 .dob {width:26%;float:left;}
.select-date{margin-right:3%}
.select-date select {padding: 7px 4px 7px 1px;width:105%;}

}
/*-- new designe (9-02-2017)--*/
.flow_chart{
    /*width: 100%;
    clear: both;
    float: left;*/

    width: 95%;
clear: both;
float: none;
text-align: center;
margin: 0 auto 0 10% !important;
}
.flow_chart li{
    /*width: 18%;
    float: left;*/
    width: 14%;
    float: none;
    display: inline-block;
    text-align: center;
    margin:0 15px 10px 0;
    color: #878787;
    list-style: none;
    font-size: 16px;
    line-height: 20px;
}
.flow_chart li:last-child{
    margin-right: 0
}
.color_cercle{
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #000;
    background: #6B4291;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -o-border-radius: 50px;
    padding: 8px 0 0 0;
    margin: 0 auto 10px;
    color: #fff;
}
.flow_chart li.active .color_cercle{
   background: none !important;
   border: 1px solid #95D600;
   color: #878787;
}
.flow_chart li.active{
    color: #95D600;
}
/*.input_design{
    border: 2px solid #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    background: #fff;
}
.input_design:focus{
    border: 2px solid #3498db;
    color: #3498db;
    background: #fff;
}*/
.next_btn{
    border-color: rgba(30, 37, 43, 0.15);
    border-top-color: rgba(30, 37, 43, 0.15);
    border-right-color: rgba(30, 37, 43, 0.15);
    border-bottom-color: rgba(30, 37, 43, 0.15);
    border-left-color: rgba(30, 37, 43, 0.15);
border-radius: 4px;
border-style: solid;
border-width: 2px;
box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.24);
box-sizing: inherit;
color: #fff;
cursor: pointer;
display: block;
float: left;
width: 25%;
background-color: #95d600;
font-size: 18px;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
transition: all 0.3s;
margin-top: -4px;
font-weight: 700;
padding: 5px 8px;
position: relative;
text-align: center;
float: right !important;
}
.mthird{
    width: 60% !important;
}
.mthird_border{
    border: 1px solid #ccc;
    /*padding: 15px;*/
    padding: 15px 25px;
    box-sizing: border-box;
    width: 100%;
    clear: both;
    float: left;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}
.buttons {
    width: 100% !important;
    clear: both !important;
    float: left !important;
}
#content {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 0em !important;
    padding: 0 2em 20px;
    background: #fff;
    border: 1px solid #ccc;
    display: table;
}
.clientView_list{
    width: 100%;
    clear: both;
    float: left;
    padding: 0 0 0 3%;
}
.clientView_list li{
    color: #333;
    width: 100%;
    clear: both;
    float: left;
    list-style: disc;
    margin: 0 0 5px;
}
.my_print{

font-family: 'Droid Serif', serif;
    border-color: rgba(30, 37, 43, 0.15);
    border-top-color: rgba(30, 37, 43, 0.15);
    border-right-color: rgba(30, 37, 43, 0.15);
    border-bottom-color: rgba(30, 37, 43, 0.15);
    border-left-color: rgba(30, 37, 43, 0.15);
border-radius: 4px;
border-style: solid;
border-width: 2px;
box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.24);
box-sizing: inherit;
color: #fff;
cursor: pointer;
display: block;
float: left;
width: 25%;
background-color: #95d600;
font-size: 18px;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
transition: all 0.3s;
margin-top: 20px;
font-weight: 700;
padding: 5px 8px;
position: relative;
text-align: center;
}

.admin_text{
    color: #6B4291;
    font-weight: bold;
    font-family: 'Droid Serif', serif;
    margin-top: 30px;

}