div.DTED_Lightbox_Wrapper {
    height: 100%;
    left: 50%;
    margin-left: -490px;
    position: fixed;
    top: 0;
    width: 980px;
    z-index: 11;
}
.DTE_Form_Content{height:2000px}
.DTE_Form_Content {
    background-image: none !important;
    width:100%;
    height:auto !important;
    padding: 0px !important;
}

.editor_upload{display:block !important}


.DTE_Form_Content{height:auto}
.DTE_Label{width:43% !important;display:block !important;}
.DTE_Field {padding:0 !important;width:70%;
 }

input{padding: 6px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #3CBC8D !important;
    background-color: #3CBC8D !important;
    color:white;font-size:1.2em}

#DTE_Field_users-notes{padding: 6px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #3CBC8D !important;
    background-colorx: #3CBC8D !important;
    color:#444;font-size:1.2em}

#DTE_Field_users-address{ margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #3CBC8D !important;
    background-colorx: #3CBC8D !important;
    color:#444;font-size:1.2em}


div.DTE_Field,div.DTE_Field:hover {background-color:transparent !important;border:none !important;}

div.DTE_Body div.DTE_Body_Content div.DTE_Field > div.DTE_Field_Input {
    float: left;
    width: 50%;
}

div.DTE_Body div.DTE_Body_Content div.DTE_Field > label {
    float: left;
    padding-top: 6px;
    width: 13%;
}

.usersfirst_name{width:48%;position:absolute;top:16px;left:20px;}
.userslast_name{width:48%;position:absolute;top:16px;left:20px;}
.usersemail {width:48%;position:absolute;top:16px;left:20px;}
.usersaddress {width:48%;position:absolute;top:16px;left:20px;}

.usersmobile{width:48%;position:absolute;top:-240px;left:500px;}
.usersphone{width:48%;position:absolute;top:-240px;left:500px;}
.userssite{width:48%;position:absolute;top:-240px;left:500px;}
.userslicence_number{width:48%;position:absolute;top:-240px;left:500px;}
.usersnational_insurance  {width:48%;position:absolute;top:-240px;left:500px;}

.usersnotes  {width:48%;position:absolute;top:-200px;left:20px;}
#DTE_Field_users-notes {height:140px; width:700px;}


.usersbank_card_number {display:none;}
.userspickup_date {width:48%;position:absolute;top:-200px;left:20px;}
.userscar{width:48%;position:absolute;top:-200px;left:20px;}

.DTE_Field_Type_uploadMany{width:48%;position:absolute;top:-250px;left:480px;}


.DTE_Field_Type_uploadMany label {display:none !important}

