  h1 {
    font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Raleway', 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 2em;
    line-height: 1em;
  }

  h2 {
    font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Raleway', 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 1.8em !important;
    line-height: 1em;
    margin-top:10px !important;
    margin-bottom:4px !important;

  }
  h3 {
    font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Raleway', 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
    font-weight: 100;
    letter-spacing: 2px;
    font-size: 1.5em;
    line-height: 1em;
    margin-top:0;

  }

  .total {
    font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Raleway', 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 2.7em;
    line-height: 1em;
  }

  button{border:0;}

.filtersContainer{
   display: -webkit-flex;
    display: flex;
    width:100%;

}
    

.filters{display: -webkit-flex;
    display: flex;
}



.filters .filter{
  color:white;
  text-align:center;
  padding:1em;
  margin-right:1px;
  margin-bottom:20px;
  width:33%;
  cursor: pointer; cursor: hand; 
}
.filters .myfilter{
  color:white;
  text-align:center;
  padding:1em;
  margin-right:1px;
  margin-bottom:2px;
  cursor: pointer; cursor: hand; 
}


.filters:nth-of-type(1) {
    -webkit-flex-basis: 40%; /* Safari 6.1+ */
    flex-basis: 40%;
    float:left; 
}
.filters:nth-of-type(2) {
    -webkit-flex-basis: 60%; /* Safari 6.1+ */
    flex-basis: 60%;
    float:right; 
}


  .filters .filter.pending,.filters .filter.fail{background-color:#6b478e;}

  .filters .filter.pickup,.filters .filter.awaiting,.filters .filter.available {background-color:#EE7600;}

  .filters .filter.pass{background-color:#0082ca;}
.filters .filter.onroad{background-color:green;}


  .filters .myfilter.pending,.filters .myfilter.fail{background-color:#6b478e;}

  .filters .myfilter.pickup,.filters .myfilter.awaiting,.filters .myfilter.available {background-color:#95d600;}

  .filters .myfilter.onroad,.filters .myfilter.pass{background-color:#0082ca;}

.filter_circle {
    height:128px;
    width:128px;
    -webkit-border-radius: 128px; 
    -moz-border-radius: 128px; 
    border-radius: 128px; 
    margin-right:4px;
    cursor: pointer; cursor: hand; 
    }

.filter_circle.cancelled{ background-color:#D3D3D3;}
.filter_circle.accidents{ background-color:#FF4500;}
.filter_circle.all{ background-color:#c06;}


.filter_circle h3 {font-size:1.1em;font-weight:500;color:white;text-align:center;margin-bottom:0;margin-top:24px;}

.filter_circle p {font-size:1.1em;font-weight:500;color:white;text-align:center}

.filter p{height:36px;
padding-top:4px;
font-weight:900;
font-size:1.1em
}

.filter h2{
margin-top:0 !important;
 
}


.viewres{background-color:transparent;}
.buttontools{background-color:white;}


td .site1{
		background-color: #FF3F2B;
                color:white;
		display:block;
                text-align:center;
                padding:5px;
	}
	.site2{
		background-color: orange;
                 color:white;		
		display:block;
                text-align:center;
                padding:5px;
	}
	.site3{
		background-color: #95d600;
                color:white;
		display:block;
                text-align:center;
                padding:5px;
	}

        .site4{
		background-color: #FF3F2B;
                color:white;
		display:block;
                text-align:center;
                padding:5px;
	}

        .site5{
		background-color: white;
                color:black;
		display:block;
                text-align:center;
                border:1px solid #555;
                padding:5px;
	}
         .site6{
		background-color: orange;
                color:white;
		display:block;
                text-align:center;
                padding:5px;
	}

      .site10{
		background-color: #2a839e;
                color:white;
		display:block;
                text-align:center;
                padding:5px;
	}



/*.carscondition{display:none}*/

#idpc_input {

    margin: 0;
    border: 0 solid;
    appearance: none;
    -webkit-appearance: none;
    line-height: normal;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    border-radius: 4px;
    border-width: 2px;
    border-color: rgba(30,37,43,.15);
    padding: 7px 12px;
    -moz-appearance: none;
    text-indent: .01px;
    text-overflow: '';
    background-color: #fff;
    display: inline-block;
}

#idpc_button {

    padding: 7px 12px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 3px rgba(0,0,0,.2),0 1px 0 rgba(0,0,0,.24);
    border-width: 2px;
    border-radius: 4px;
    border-style: solid;
    border-color: rgba(30,37,43,.15);
    box-sizing: inherit;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -webkit-user-select: none;
    user-select: none;
    font-weight: 700;
    color: #1e252b;
    cursor: pointer;
    display: block;
}

#idpc_error_message{
font-weight:500;
color:red;
}
  .post_order_cancel.filter_circle{
      background-color: #3CBC8D;
  }
  .pre_pickup.filter{
      background-color: #2a839e;
  }
  
/*Dropbox Folder List Start*/
.file_pannel{
    width: 100%;
    clear: both;
    float: left;
}
.bread_crumb{
    width: 100%;
    clear: both;
    float: left;
    padding-left: 0;
}
.bread_crumb li{
    width: auto;
    float: left;
    padding: 10px 5px;
    list-style: none;
}
.bread_crumb li:first-child{
    padding-left: 0;
}

.bread_crumb li a{
    font-size: 16px;
    line-height: 20px;
    color: #4295f1;
    text-decoration: none !important;
}
.bread_crumb li a:hover, .bread_crumb li a.active{
    color: #3d4658;
}
.icon_right{
    width: auto;
    clear: both;
    float: right;
    padding-left: 0;
}
.icon_right li{
    width: auto;
    float: left;
    padding-right: 16px;
    list-style: none;
    margin: 6px 0 0 0; 
}
.icon_right li:last-child{
    padding-right: 0px;
    /*border:1px solid #d0d4d9;*/
    border-radius: 3px; 
    margin: 0px 0 0 0; 
}
.icon_right li:last-child .btn-default {
    background-image: none;
    /*background-repeat: repeat-x;*/
    border-color: none;
    text-shadow: none;
}
.icon_right li:last-child .btn-default:hover {
    background-image: none;
    /*background-repeat: repeat-x;*/
    border-color: none;
    text-shadow: none;
    background: none;
}
.folder_pannel{
    width: 100%;
    clear: both;
    float: left;
    margin: 30px 0 30px;
    border: 1px solid #DDDDDD;
}
.folder_pannel .table thead tr th{
    color: #7a7a7a;
    font-size: 14px;
    line-height: 20px;
}
.folder_pannel .table thead tr td{
    color: #424649;
    font-size: 14px;
    line-height: 20px;
}
.folder_pannel .icon_space img{
    margin: -7px 10px 0 0;
}
.folder_pannel .table {
    margin-bottom: 0;
}
/*.folder_pannel .share_icon{
    width: 40px;
    height: 40px;
    background: #dee1e4;
    color: #3d3d3d;
    border-radius: 50px;
    text-align: center;
    vertical-align: middle;
    padding: 8px;

}*/
.view_btn{
    background: #fff;
    color: #4295f1;
    border:1px solid #4295f1;
    font-size: 14px;
    line-height: 20px;
    padding: 4px 8px;
    border-radius: 3px;
    text-decoration: none !important;
}
.view_btn:hover{
    background: #F5F5F5;
}
/*Dropbox Folder List Start End*/
.modal_input{
width:100%;
clear:both;
float:left;
}
.modal_input p{
padding:5px 0 0 0;
margin:0;
}
.m_input_de{
width:100%;
float:left;
border:none;
padding:5px 10px;
}
.m_input_de:focus{
border:transparent !important;
}
.midd_part{
width:100%;
clear:both;
float:left;
min-height:200px;
}
.model_textarea{
width:100%;
float:left;
border:none;
padding:5px 10px;
margin:15px 0;
resize: none;
}