div.DTED_Lightbox_Wrapper {
    height: 100%;
    left: 50%;
    margin-left: -490px;
    position: fixed;
    top: 0;
    width: 970px;
    z-index: 11;
}

.DTE_Form_Content{height:2000px}
.DTE_Form_Content {
    background-image: url("../images/contract.png") !important;background-repeat:no-repeat;background-size: 100% 100% !important;
    width:100%;
    height:6000px !important;
}

div.DTE_Form_Content {
  
     padding: 0px !important;
}




.DTE_Field {padding:0 !important}
#DTE_Field_users-first_name{position:relative;top:292px;left:-270px;border:0;background-color:transparent}
#DTE_Field_users-last_name{position:relative;top:291px;left:-280px;border:0;background-color:transparent}
#DTE_Field_users-phone{position:relative;top:140px;left:-300px;border:0;background-color:transparent}
#DTE_Field_users-mobile{position:relative;top:206px;left:-300px;border:0;background-color:transparent}
#DTE_Field_users-email{position:relative;top:358px;left:-260px;border:0;background-color:transparent}
#DTE_Field_users-address {position:relative;top:258px;left:90px;border:0;background-color:transparent}
#DTE_Field_users-site{display:none !important}
#DTE_Field_users-car{display:none !important}
#DTE_Field_users-pickup_date {display:none !important}
#DTE_Field_users-licence_number {display:none !important}
#DTE_Field_users-bank_card_number {display:none !important}
#DTE_Field_users-bank_expiry_date {display:none !important}
#DTE_Field_users-bank_cvv {display:none !important}
#DTE_Field_users-national_insurance {display:none !important}
#DTE_Field_users-shortterm_car {display:none !important}
#DTE_Field_car_type-model {display:none !important}
#DTE_Field_users-notes {display:none !important}



.editor_upload{display:none !important}

.DTE_Field label {display:none !important}

.div.DTE_Field,div.DTE_Field:hover {background-color:transparent !important;border:none !important;}


div.DTE_Body div.DTE_Body_Content div.DTE_Field > label {
    float: left;
    padding-top: 6px;
    width: 13%;
}


